#meet {
    width: 700px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -250px;
    border: 2px solid pink;
}

#meet > iframe {
    width: 100% !important;
    height: 100% !important;
}
